*{
  margin: 0;
  padding: 0;
}
div.contenedor{
  max-width: 1100px;
  margin: 0 auto;
}
header{
  width: 100%;
  background-color: #ff5722;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header::after{
  display: block;
  clear: both;
  content: '';
}
div.logo{
  width: 30%;
  float: left;
  padding: 10px;
}
div.logo a{
  text-decoration: none;
  display: inline-block;
}
div.logo h2.logo{
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  color: white;
}
div.navegacion{
  float: right;
}
div.navegacion nav ul{
  list-style: none;
}
div.navegacion nav ul li{
  float: left;
  padding: 15px;
}
div.navegacion nav ul li a{
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-family: 'Rubik', sans-serif;
}
div.navegacion nav ul li a:hover{
  color: #1d1917;
}

/*-- NAV --*/
/* -- Login --*/
div.portada{
  width: 100%;
  height: 100vh;
  background-color: #dcdcdc;
  padding: 5% 0;
}

div.portada div.contenedor{
  background-color: white;
  width: 90%;
  max-width: 400px;
  height: 70vh;
  margin: 0 auto;
  border-radius: 5%;
  box-shadow: 0px 0px 10px #888888;
}
div.contenedor-login{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
.logo-form{
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  color: #d2d2d2;
  margin-bottom: 10%;
}
div.contenedor-login div.formulario input.input{
  margin-bottom: 10%;
  font-size: 16px;
  text-align: center;
  padding: 10px 10px;
  font-family: 'Rubik', sans-serif;
}
div.contenedor-login div.formulario input.btn-enviar{
  padding: 10px 30px;
  font-family: 'Rubik', sans-serif;
  background-color: #ff5722;
  color: white;
  border: 0;
  margin-top: 5%;
}
div.contenedor-login div.formulario input.btn-enviar:hover{
  background-color: #1d1917;
  cursor: pointer;
}
div.contenedor-login p{
  color: #1d1917;
  font-family: 'Rubik', sans-serif;
  margin-top: 10%;
  font-size: 14px;
}
div.contenedor-login p a{
  color: #ff5722;
  text-decoration: none;
}

/*---------------Footer---------*/

footer{
  width: 100%;
  background-color: #1d1917;
  padding: 30px 0;
  border-top: 5px solid #ff5722;
}
footer div.nosotros h2.logo-footer{
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  color: #d2d2d2;
  display: block;
}
footer div.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer div.nosotros,
footer div.redes{
  width: 30%;
}
footer div.copyright{
  margin-bottom: -30px;
  text-align: center;
  padding: 10px 0;
  color: #d2d2d2;
  background-color: rgba(0, 0, 0, .3);
  margin-top: 20px;
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
}
div.redes img{
  height: 30px;
  margin: 0 20px;
}
